DATABASE_URL="postgresql://docpal:docpal_dev@localhost:5432/docpal"
MINIO_ENDPOINT="localhost"
MINIO_PORT="9000"
MINIO_ACCESS_KEY="mionioadmin"
MINIO_SECRET_KEY="minioadmin"
MINIO_USE_SSL="false"
MINIO_BUCKET="docpal"

JWT_SECRET="asfasf_afasfa353asf_afsfas123_asfa"

AI_BASE_URL=https://39975b9a1.seantsang.olares.com/v1
OPENAI_API_KEY=ollama
OPENAI_MODEL=qwen2.5-coder:14b

ELECTRIC_URL=http://localhost:30000